.icon {
  width: 2.5em;
  height: 2.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.screen {
  text-align: center;
  font-size: 2rem;
}

.icon-search {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: #333;
}

.yellow-green-title {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: var(--vt-c-text-2);
  transition: color .5s;
  font-size: 22px;
  margin: 24px auto 40px;
}

.screen-btn-group {
  font-size: 6px;
}

.screen-btn {
  padding: 8px 18px;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 0 1rem;
}

.green {
  background-color: #42b883;
  color: #f1f1f1;
}

.logo {
  width: 15rem;
  height: 7.5rem;
}

.icon-nav-link {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-screen-react {
  width: 10em;
  height: 10em;
}

.postcard {
  border-radius: 10px;
  background-color: #F6F7F9;
  padding: 0.4rem 0.9rem;
  margin: 1rem 0;
  border: 1px solid;
}

.postcard a {
  text-decoration: none;
  color: #333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 5px 5px;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo img{
    width: 3rem;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar a:hover {
  background-color: #f3f4f4;
  border-radius: 10px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 1rem;
}