.screen {
    text-align: center;
    font-size: 2rem;
    padding: 56px 32px;
}

.yellow_green_title {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    color: var(--vt-c-text-2);
    transition: color .5s;
    font-size: 22px;
    margin: 24px auto 40px;
}

.screen_btn_group {
    font-size: 6px;
}

.screen_btn {
    padding: 8px 18px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 0 1rem;
}

.green {
    background-color: #42b883;
    color: #f1f1f1;
}